server {
    listen 80;
    server_name myapp.django;

    location /static/ {
        alias /opt/django_app/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://localhost:8000;
    }
}